body{
    margin: 0;
}

nav{
    background-color: red;
     padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1p
}

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width: 1200px;
    margin:0 auto ;
    padding: 0 50px;
}

.logo img{
    height: 40px;
    width: auto;
}

.nav-links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-links ul li{
    font-size: medium;
    margin-left: 40px;
}


.nav-links ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.nav-links ul li a:hover {
    color: black;
}


/*header-content */
.header-content{
    background-color:#f4f5f6 ;
    margin-top: 40px;
    padding: 20px;
    padding-left: 40px;
    justify-content: space-evenly;
    height: 100vh;
    display: flex;
}

span{
    color: red;
}

.first-p{
    padding-top: 50px;
    padding-bottom: 0px;
    line-height: 0%;
   
}

.first-h{
    font-size: xx-large;
    font-weight: bolder;
   line-height: normal;
}

.second-p{
    margin-top: 0;
    color: grey;
    
}

.my-pic{
    padding-top: 75px;
}