body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1p;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width: 1200px;
    margin:0 auto ;
    padding: 0 50px;
    flex-wrap: wrap;
}


.logo img{
    height: 40px;
    width: auto;
}

  .nav-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.nav-links .links a{
   color: black;
   display: flex;
   flex-direction: row;
   text-decoration: none;
   justify-content: space-evenly;
   padding: 10px 15px;
   font-size: large;
}

.nav-links a:hover {
    color: red;
}

/* responsive sidebar */
.sidebar{
    position: fixed;
    top:0;
    right: 0;
    width: 120px;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

nav li{
    height: 50px;
}

.sidebar li{
    width: 100%;
}


.sidebar a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: black;
}

nav a:hover{
    color: red;
} 

.sidebar li:first-child{
    margin-right: auto;
}

.menu-btn{
    display: none;
    border: none;
}

.cancel{
    padding: 20px 0;
}

@media(max-width:800px){
    .links{
        display: none;
    }

    .menu-btn{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width:100;
    }
}



/*header-content */
.header-content{
    background:linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)) center center, url(images/common-bg.svg);
    background-position: center center;
    margin-top: 40px;
    padding: 20px;
    padding-left: 40px;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

span{
    color:red;
}

.first-p{
    padding-top: 50px;
    padding-bottom: 5px;
    line-height: 0%;
    font-size: large;
}

.first-h{
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;

}

.auto-type{
    color: rgb(33, 32, 32);

}


.second-p{
    margin-top: 20px;
    color: #646464;
    font-size: medium;
    font-style: oblique;
    
}

.my-pic{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 75px;
    margin-right: 12%;
    height: 400px;
}


.my-pic:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header-socialm{
    padding-top: 50px;;
    display: flex;
    justify-content: space-evenly;
}
.header-socialm .sosialm {
    padding-left: 0;
}


.sosialm{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding-top: 5px;
}

.sm {
    border-radius: 5px;
    border: 1px solid black;
    border-image: initial;
    padding: 5px 6px;
    margin: 5px;
}

/* about section */
.aboutme{
    padding-top: 30px;
    background:rgb(250, 250, 250);
}
.aboutme p{
    font-weight: 550;
    color: #646464;
}
.aboutp h1{
    text-align: center;
}
.aboutp p {
    color: #646464;
    text-align:center;
    font-size: large;
}
.aboutcontent{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* skill part */
.skillcards {
    width: 350px;
    margin: 0 auto;
}
.skill {
    margin-bottom: 4px;
}
.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}
.skill-bar {
    background-color: #f0f0f0;
    height: 4px;
    border-radius: 5px;
    overflow: hidden;
}
.skill-progress {
    background-color:red;
    height: 100%;
}
.skill-percent {
    color: black;
    float: right;
    margin-left: 10px;
}
.download-cv {
    background-color: red; /* red */
    color: #fff; /* white */
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    font-weight: bold;
    margin-top: 25px;
}


  /* Services Section */
  
  .services {
    padding-top: 30px;
    background-color: #f9f9f9;
  }
  
  .services p {
    font-weight: 550;
    color: #646464;
    text-align: center;
    font-size: large;
  }
  
  .servicep h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .servicep p {
    color: #646464;
    text-align: center;
    font-size: large;
  }
  
  .servicecontent {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .servicecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Service Card Styles */
  
  .service {
    width: 350px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
  }
  
  .service i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
    color: #FF0000;
  }
  
  .service h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .service p {
    font-size: 16px;
    color: #666;
  }
  
  /* Hover Effect */
  
  .service:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }
  
  .service:hover i {
    transform: scale(1.1);
  }
  
 
  
 /*project section */
  .projects{
    background: rgb(255,255,255);
    padding-top: 60px;
  }

  .projects p{
    font-weight: 550;
    color: #646464;
  }
    .projects h1{
    text-align: center;
    }
   .projects p {
    color: #646464;
    text-align: center;
    font-size: large;
   
    }

    .firstpart p{
        padding-top: 10px;

    }


    /* contact section */
    .contact{
        margin-top: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background:linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)) center center, url(images/common-bg.svg);
        background-position: center center;
    
    }
    .contact p{
        font-weight: 550;
        color: #646464;
        text-align: center;
        font-size: large;
    }
    .contact h1{
        text-align: center;
        padding-bottom: 10px;
    }

    form{
        background-color:white;
        margin: 0 19%;
        border-radius: 10px;
    }

    label{
        color: black;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .fname{
        padding-top:30px;
    }
    .fname ,.femail ,.fmessage{
        margin: 30px;
    }

    input ,textarea{
        background-color: rgb(240,240,240);
        margin-top: 10px;
        border: none;
        width: 100%;
        height: 53px;
        outline: none;
        border-radius: 10px;
        padding:0px 10px;
    }

    .fmessage textarea{
        min-height: 200px;
    }

    .fbtn{
        background: red;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        margin-left: 42%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 15px;
    }

    /* footer */
    .footer{
        background: black;
        color: white;
        padding: 40px;

    }
    .flex-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 0px;
    }

    .footer p{
        padding-top: 18px;
    }

    .footer-icons{
        margin-right: 70px;
    }

    .social-icons{
        display: flex;
        list-style: none;
        padding-left: 20px;
    }

    .f-icons{
       padding: 10px;
    }
    .copyright{
        text-align: center;
    }

    .f-icons {
        padding: 10px;
        font-size: 24px; /* increase the font size to 24px */
      }
    /* scroll top btn */

    .scrollToTop{
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: red;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border: none;
        color: #ffffff;
        outline: none;
        cursor: pointer;
    }

    