body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1p;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width: 1200px;
    margin:0 auto ;
    padding: 0 50px;
    flex-wrap: wrap;
}

.logo img{
    height: 40px;
    width: auto;
}

  .nav-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.nav-links .links a{
   color: black;
   display: flex;
   flex-direction: row;
   text-decoration: none;
   justify-content: space-evenly;
   padding: 10px 30px;
   font-size: large;
}

.nav-links a:hover {
    color: red;
}


/*header-content */
.header-content{
    background:linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)) center center, url(images/common-bg.svg);
    background-position: center center;
    margin-top: 40px;
    padding: 20px;
    padding-left: 40px;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

span{
    color:red;
}

.first-p{
    padding-top: 50px;
    padding-bottom: 5px;
    line-height: 0%;
    font-size: large;
}

.first-h{
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;

}

.second-p{
    margin-top: 20px;
    color: #646464;
    font-size: medium;
    font-style: oblique;
    
}

.my-pic{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 75px;
    margin-right: 12%;
}


.my-pic:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header-socialm{
    padding-top: 50px;;
    display: flex;
    justify-content: space-evenly;
}
.header-socialm .sosialm {
    padding-left: 0;
}


.sosialm{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding-top: 5px;
}

.sm {
    border-radius: 5px;
    border: 1px solid blue;
    border-image: initial;
    padding: 20px;
    margin: 5px;
}

/* about section */
    .aboutme{
        padding-top: 30px;
        background:rgb(250, 250, 250);
    
    }
    .aboutme p{
        font-weight: 550;
        color: #646464;
    }
    .aboutp h1{
        text-align: center;
    }
    .aboutp p {
        color: #646464;
        text-align: center;
        font-size: large;
       
    }
   
    .aboutcontent{
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* skill part */
  .skillcards {
    width: 350px;
    margin: 0 auto;
}

.skill {
    margin-bottom: 4px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar {
    background-color: #f0f0f0;
    height: 4px;
    border-radius: 5px;
    overflow: hidden;
}

.skill-progress {
    background-color:hwb(16 9% 8%);
    height: 100%;
}

.skill-percent {
    color: black;
    float: right;
    margin-left: 10px;
}
  .projects{
    background: rgb(255,255,255);
    padding-top: 60px;
  }

  .projects p{
    font-weight: 550;
    color: #646464;
  }
    .projects h1{
    text-align: center;
    }
   .projects p {
    color: #646464;
    text-align: center;
    font-size: large;
   
    }

    .firstpart p{
        padding-top: 10px;

    }


    /* contact section */
    .contact{
        margin-top: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background:linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)) center center, url(images/common-bg.svg);
        background-position: center center;
    
    }
    .contact p{
        font-weight: 550;
        color: #646464;
        text-align: center;
        font-size: large;
    }
    .contact h1{
        text-align: center;
        padding-bottom: 10px;
    }

    form{
        background-color:white;
        margin: 0 19%;
        border-radius: 10px;
    }

    label{
        color: black;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .fname{
        padding-top:30px;
    }
    .fname ,.femail ,.fmessage{
        margin: 30px;
    }

    input{
        background-color: rgb(240,240,240);
        margin-top: 10px;
        border: none;
        width: 100%;
        height: 53px;
        outline: none;
        border-radius: 10px;
        padding:0px 10px;
    }

    .fmessage input{
        min-height: 200px;
    }

    .fbtn{
        background: hsla(73, 85%, 48%, 0.92);
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        margin-left:38%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 15px;
       align-items: center;
        padding:10px 50px;
    }

    /* footer */
    .footer{
        background: black;
        color: white;
        padding: 40px;

    }
    .flex-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 0px;
    }

    .footer p{
        padding-top: 18px;
    }

    .footer-icons{
        margin-right: 70px;
    }

    .social-icons{
        display: flex;
    }

    .copyright{
        text-align: center;
    }